body.home {
  #site {
    background: var(--black);
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    position: relative;
    background: var(--black);
    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
    }
    .fader {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(var(--black-rgb), 1);
      z-index: 2;
      transition: background-color 1s ease-out;
      &.fade {
        background: rgba(var(--black-rgb), 0.5);
      }
    }
  }

  #site > section {
    margin-bottom: 30vh;
  }

  .sidegallery {
    width: 100vw;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    .images {
      display: flex;
      height: 60vh;
      gap: 15rem;
      padding-left: 15rem;
      /* scroll-snap-type: x mandatory; */
    }
    .image {
      flex: 0 0 50vw;
      width: 50vw;
      height: 100%;
      /* scroll-snap-align: center; */
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .gallery {
    .images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1px;
      .image {
        flex: 1 1 calc(16.666% - 1px);
        display: block;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .loadercontainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 11rem;
    z-index: 3;
    transition: opacity 0.6s cubic-bezier(0.32, 0, 0.67, 0),
      margin-top 0.6s cubic-bezier(0.32, 0, 0.67, 0);
    .progress {
      position: absolute;
      bottom: 0;
      text-align: center;
      width: 100%;
    }

    &.fadeout {
      opacity: 0;
      margin-top: -0.5rem;
    }
  }

  .loader {
    position: absolute;
    width: 100%;
    width: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 10rem;
    --dash: 180;
    --line-width: 11%;
    flex: 0 0 20rem;
    z-index: 3;
  }

  .circle {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
  }

  .circle circle {
    fill: none;
    stroke: var(--lime);
    stroke-width: var(--line-width);
    stroke-dasharray: var(--dash);
    stroke-dashoffset: var(--dash);
    animation: draw-circle 2.3s var(--easeInOut) infinite;
  }

  .line {
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--line-width);
    height: 100%;
    background-color: var(--lime);
    transform-origin: top center;
    transform: translate(-50%, -50%) scaleY(0);
    animation: trim-line 2.3s var(--easeInOut) infinite;
  }

  .loadercontainer.pause {
    .line,
    .circle circle {
      animation-play-state: paused;
    }
  }
  .spacer {
    height: calc(100vh + 100px);
    width: 100vw;
  }
  .footer {
    margin-bottom: 0 !important;
    display: flex;
    padding: 2.4rem;
    .logo {
      height: auto;
      width: 100%;
      margin-top: auto;
    }
    svg {
      width: 100%;
      fill: var(--lime);
    }
  }
  .barcontainer {
    position: fixed;
    width: 100%;
    z-index: 3;
    top: calc(100vh / 2 - 2.4rem);
    left: 0;
    display: flex;
    justify-content: center;
  }

  .buttons {
    display: flex;
    gap: 0.4rem;
    button {
      transform: translateY(0.5rem);
      opacity: 0;
      pointer-events: none;
      span {
        transition: opacity 0.2s var(--easeInOut);
      }
    }
    &.transition {
      button {
        transition: transform 0.2s var(--easeInOut),
          opacity 0.2s var(--easeInOut), width 0.4s var(--easeInOut);
        transition-delay: 0.7s;
      }
      button:nth-child(2) {
        transition-delay: 1s;
      }
      button:nth-child(3) {
        transition-delay: 1.3s;
      }
    }
    &.show button {
      transform: translateY(0);
      opacity: 1;
      pointer-events: all;
    }
  }
}

/*
@keyframes draw-circle {
  0% {
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dashoffset: var(--dash);
  }
  50% {
    stroke-dashoffset: var(--dash);
  }
  75% {
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes trim-line {
  0% {
    transform: translate(-50%, -50%) scaleY(1);
  }
  30% {
    transform: translate(-50%, -50%) scaleY(1);
  }
  45% {
    transform: translate(-50%, -50%) scaleY(0);
  }
  78% {
    transform: translate(-50%, -50%) scaleY(0);
  }
  95% {
    transform: translate(-50%, -50%) scaleY(1);
  }
  100% {
    transform: translate(-50%, -50%) scaleY(1);
  }
}

*/

@keyframes draw-circle {
  0% {
    stroke-dashoffset: var(--dash);
  }
  25% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dashoffset: var(--dash);
  }
  100% {
    stroke-dashoffset: var(--dash);
  }
}

@keyframes trim-line {
  0% {
    transform: translate(-50%, -50%) scaleY(0);
  }
  30% {
    transform: translate(-50%, -50%) scaleY(0);
  }
  45% {
    transform: translate(-50%, -50%) scaleY(1);
  }
  78% {
    transform: translate(-50%, -50%) scaleY(1);
  }
  95% {
    transform: translate(-50%, -50%) scaleY(0);
  }
  100% {
    transform: translate(-50%, -50%) scaleY(0);
  }
}
