@import 'reset.css';

@font-face {
  font-family: 'NHaasGrotesk';
  src: url('./fonts/NHaasGroteskTXPro-55Rg.woff'),
    url('./fonts/NHaasGroteskTXPro-55Rg.woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  font-feature-settings: 'case' on;
}

:root {
  color-scheme: light dark;

  --white-rgb: 255, 255, 255;
  --black-rgb: 24, 24, 24;
  --lime-rgb: 193, 220, 67;

  --lime: rgb(var(--lime-rgb));
  --black: rgb(var(--black-rgb));
  --white: rgb(var(--white-rgb));

  --easeInOut: cubic-bezier(0.76, 0, 0.24, 1);
}

html {
  font-family: NHaasGrotesk, helvetica, sans-serif;
  color: var(--lime);
  background: var(--black);
  font-size: calc(62.5% * var(--n));
  /*
  -ms-overflow-style: none;
  scrollbar-width: none;
  */
}
/*
html::-webkit-scrollbar {
  display: none;
}
  */

body {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.8rem;
}

#site {
  background: var(--black);
  min-height: 100vh;
  position: relative;
}

button {
  height: 4.8rem;
  border-radius: 0.4rem;
  color: var(--lime);
  background: rgba(33, 33, 32, 0.5);
  backdrop-filter: blur(26px);
  padding: 0 2rem;
  white-space: nowrap;
}
